# Dependencies
node_modules
.pnpm-store
npm-debug.log*
pnpm-debug.log*

# Dev & VCS
.git
.vscode
.idea
.github
.gitlab-ci.yml

# Testing
coverage
.nyc_output

# Build output
dist
build

# Env files
.env*

# OS
.DS_Store
Thumbs.db